color_grey_1 = rgb(245, 245, 245);
color_grey_2 = rgb(217, 217, 217);
color_black_1 = rgb(81, 81, 81);
color_white_1 = rgb(255, 255, 255);

img_left_arrow = url('img/left_arrow.svg')
img_right_arrow = url('img/right_arrow.svg')

@font-face {
  font-family: "RobotoMedium";
  src: url("font/Roboto-Medium.ttf");
}